* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(193, 150, 233);
}
.margin-top {
  margin-top: 180px;
}
.joinInstractors {
  margin-left: 2%;
  box-shadow: 3px 2px red;
  margin-top: 4%;
  text-transform: capitalize;
  width: 80%;
  margin-left: 26%;
}
.joinInstractors2 {
  width: 70%;
  margin-left: 35%;
  margin-top: -12%;
  padding: 3px;
  font-size: x-large;
  text-transform: capitalize;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  /* text-shadow: 2px 2px rgb(211, 197, 197); */
}
.joinInstractors2 p:hover {
  background-color: rgb(200, 71, 252);
  opacity: 1;
  transition: 2s;
  border-radius: 25%;
}
